<div class="col-md-6">
	<div ng-show="error" class="alert alert-danger">{{error}}</div>
	<form name="loginForm" ng-submit="signUp()">
		<table class="table">
			<tbody>
				
				<!-- username -->
				<tr>
					<td>
						<label for="loginField" class="sr-only">Login:</label>
						<input type="text" id="loginField" placeholder="Login..." ng-model="username" class="form-control" required autofocus />
					</td>
				</tr>
				
				<!-- password -->
				<tr>
					<td>
						<label for="pswdField" class="sr-only">Login:</label>
						<input type="password" id="pswdField" placeholder="Password..." ng-model="password" class="form-control" required />
					</td>
				</tr>

				<tr>
					<td>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>